@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', Arial;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    color: black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    min-width: 550px;
    width: 100%;
    background:#eee;
}

section {
    padding:50px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    background:#fff;
    box-shadow: 2px 2px 5px #e1e1e6;
}

.logo {
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 4px;
}

.logo > span {
    color: dodgerblue;
}

.navbar > a {
    font-size: 1.7rem;
    margin:0 1rem;
}

main {
    width: 100%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../grocery/grocery.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 70vh;
    padding-bottom: 40px;
    box-shadow: 5px 5px 10px #242424;
}

.content-home {
    text-align: center;
}

.content-home > h1 {
    font-size: 40px;
}

.content-home h1 > span {
    color: goldenrod;
}

.category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
}

.category-header {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.category-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-content > a {
    padding: 20px;
    font-size: 15px;
    letter-spacing: 1.2px;
    background-color: #fff;
}

.category-content > a:hover {
    cursor: pointer;
    color: dodgerblue;
    transition: 0.2;
}

.box {
    background-color: #eee;
    box-shadow: 5px 5px 10px #242424;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.box2 {
    background-color: #fff;
    box-shadow: 5px 5px 10px #242424;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.box > hgroup,
.box2 > hgroup {
    width: 100%;
    margin: 10px auto 40px auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
}

hgroup > h2 > span {
    opacity: 0.6;
}

.card-product {
    background-color: #fff;
    box-shadow: 2px 5px 10px #505059;
    width: 270px;
    height: 450px;
    border-radius: 14px;
    margin: 20px;
}

.image-product {
    border-radius: 14px 14px 0 0;
    width: 100%;
    height: 50%;
    padding: 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.image-product > img {
    width: auto;
    height: 60%;
}

.content-product {
    padding: 16px;
}

.content-product > h3 {
    letter-spacing: 1.2px;
    font-size: 18px;
    margin-bottom: 0px;
}

.content-product > p {
    margin: 6px 0;
    font-size: 15px;
}

.btn-product {
    border-radius: 5px;
    background-color: #00b37e;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn-product > img {
    margin-right: 10px;
    width: 16px;
    height: 15px;
}

.btn-product > a {
    color: #fff;
}

.btn-product:hover {
    cursor: pointer;
    background-color: #00875f;
    transition: 0.3s;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 40vh;
    background-color: #182049;
    width: 100%;
    flex-wrap: wrap;
}

.social > h3 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #e1e1e6;
}

.social > h3 > span {
    color: goldenrod;
}

.social-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icons {
    border: 0.6px solid #242424;
    width: 70px;
    height: 70px;
    background-color: #c4c4cc;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 10px #242424;
}

.social-icons > img {
    width: 100%;
    height: 100%;
}

.social-icons:hover {
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

footer {
    box-shadow: 5px 5px 10px #242424;
    background: #fff;
    padding: 50px;
    width: 100%;
}

.end {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-footer {
    width: 30%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
}

.box-footer > h3 {
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-footer > h3 > img {
    width: 40px;
    height: 40px;
}

.box-footer > p,
.box-footer > a {
    font-size: 20px;
    color: #242424;
}

.box-footer > a:hover {
    color: dodgerblue;
}

.credit {
    color: #242424;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.credit > span > a:hover{
    color: dodgerblue;
}

.inspiration > a {
    padding: 6px;
}

@media only screen and (max-width: 1100px) {
    .home {
        background-image: url("../grocery/grocery-mobile.jpg");
    }

    .category-content {
        justify-content: left;
        flex-direction: column;
    }

    .category-content > a {
        font-size: 26px;
    }

    .end {
        flex-direction: column;
        justify-content: left;
    }

    .box-footer {
        margin-bottom: 40px;
        width: 100%;
    }

    .box-footer > p,
    .box-footer > a {
    font-size: 26px;
    }

    .credit {
        margin-bottom: 30px;
        font-size: 30px;
    }
}