* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    flex-wrap: wrap;
}

body {
    min-width: 400px;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-color: #1c3144;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-card,
.middle-card,
.right-card {
    margin: 56px 40px;
    height: 500px;
    width: 300px;
}

.left-card {
    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 1000px;
}

.left-card-front,
.left-card-back {
    position: absolute;
    height: 100%;
    width: 100%;

    transition: 0.7s;
}

.left-card-front {
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;

    z-index: 1;
}

.left-card:hover > .left-card-front {
    transform: rotateY(180deg);

    backface-visibility: hidden;
    z-index: 0;
}

.left-card:hover > .left-card-back {
    transform: rotateY(0);
}

.left-card-back {
    transform: rotateY(-180deg);

    height: 100%;
    width: 100%;
    background-color: #eee;
}

.content-image {
    background-image: url("../images/background-09.jpg");
    background-size: cover;
    background-position: center;

    height: 180px;
    top: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.image {
    background-image: url("../images/img2.jpg");
    background-size: cover;
    background-position: center;

    border: 4px solid #eee;
    position: absolute;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    top: 110px;
}

.left-card-content {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.left-card-content > h2 {
    margin-bottom: 10px;
}

.left-card-content > p {
    margin: 7px 0;
}

.middle-card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "card-image" "card-content" "card-stats";

    background-color: #fff;
    text-align: center;

    transition: 0.5s;
}

.middle-card-image {
    grid-area: card-image;

    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;
}

.middle-card-content {
    grid-area: card-content;
    margin: 25px;
}

.date {
    color: #3249cb;
    font-size: 1rem;
}

.middle-card-content > h2 {
    margin-top: 0px;
    font-size: 1.5rem;
}

.middle-card-content > p {
    color: #242424;
    font-size: 1.2rem;
    font-weight: 300;
}

.middle-card-stats {
    grid-area: card-stats;

    background-color: #eee;
}

.middle-card-stats > a {
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #182049;
}

.middle-card:hover {
    transform: scale(1.2);

    transition: 0.4s;
}

.right-card {
    position: relative;
    display: flex;
    justify-content: center;
}

.right-card-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;
    transition: 0.4s;
}

.right-card:hover > .right-card-image {
    opacity: 0.6;
}

.right-card-content {
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    width: 80%;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;

    overflow: hidden;
    padding: 15px;
    transition: 0.4s;
}

.right-card-content:hover {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    bottom: 0;
}

.right-card-content > h2 {
    margin-bottom: 10px;
}

.right-card-content > p {
    opacity: 0;
    transition: 0.9s;
}

.right-card-content:hover > p {
    opacity: 1;
    transition: 0.9s;
}
